In [1]:
import pandas as pd

# Path to your CSV file
file_path = "TemperatureAnalysis_11Aug25_13Aug25_HR55AY9237.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)
df.head()

,id,timestamp,timestamp.1,sequence,Pack_Temperature14,Pack_Temperature15,Pack_Temperature16,Pack_cellVoltage_9,Pack_cellVoltage_139,Pack_cellVoltage_140,...,Pack_cellVoltage_265,Pack_cellVoltage_266,Pack_cellVoltage_267,Pack_cellVoltage_268,Pack_cellVoltage_177,Pack_cellVoltage_178,Pack_cellVoltage_179,Pack_cellVoltage_180,Pack_cellVoltage_137,Pack_cellVoltage_138
0,16,1755086292222,1755086292222,39059,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,1755086291382,1755086291382,38971,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16,1755086290202,1755086290202,38841,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,1755086289182,1755086289182,38731,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,1755086288042,1755086288042,38604,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Convert the 'timestamp' column from epoch time (milliseconds) to datetime objects
# The unit='ms' argument specifies that the timestamps are in milliseconds.
df['IST'] = pd.to_datetime(df['timestamp'], unit='ms')

# Localize the timezone to UTC first, and then convert it to 'Asia/Kolkata' (IST).
df['IST'] = df['IST'].dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')

# To save the new DataFrame with the 'IST' column, you can use the following line:
df.to_csv('TemperatureAnalysis_11Aug25_13Aug25_IST.csv', index=False)

In [3]:
df.head()

,id,timestamp,timestamp.1,sequence,Pack_Temperature14,Pack_Temperature15,Pack_Temperature16,Pack_cellVoltage_9,Pack_cellVoltage_139,Pack_cellVoltage_140,...,Pack_cellVoltage_266,Pack_cellVoltage_267,Pack_cellVoltage_268,Pack_cellVoltage_177,Pack_cellVoltage_178,Pack_cellVoltage_179,Pack_cellVoltage_180,Pack_cellVoltage_137,Pack_cellVoltage_138,IST
0,16,1755086292222,1755086292222,39059,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-13 17:28:12.222000+05:30
1,16,1755086291382,1755086291382,38971,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-13 17:28:11.382000+05:30
2,16,1755086290202,1755086290202,38841,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-13 17:28:10.202000+05:30
3,16,1755086289182,1755086289182,38731,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-13 17:28:09.182000+05:30
4,16,1755086288042,1755086288042,38604,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-13 17:28:08.042000+05:30

In [4]:
df.filter(regex='^(Pack_Te)', axis=1).columns

Index(['Pack_Temperature14', 'Pack_Temperature15', 'Pack_Temperature16',
       'Pack_Temperature25', 'Pack_Temperature26', 'Pack_Temperature27',
       'Pack_Temperature28', 'Pack_Temperature29', 'Pack_Temperature30',
       'Pack_Temperature31', 'Pack_Temperature32', 'Pack_Temperature17',
       'Pack_Temperature18', 'Pack_Temperature19', 'Pack_Temperature20',
       'Pack_Temperature21', 'Pack_Temperature22', 'Pack_Temperature23',
       'Pack_Temperature24', 'Pack_Temperature33', 'Pack_Temperature34',
       'Pack_Temperature35', 'Pack_Temperature36', 'Pack_Temperature37',
       'Pack_Temperature38', 'Pack_Temperature39', 'Pack_Temperature40',
       'Pack_Temperature1', 'Pack_Temperature2', 'Pack_Temperature3',
       'Pack_Temperature4', 'Pack_Temperature5', 'Pack_Temperature6',
       'Pack_Temperature7', 'Pack_Temperature8', 'Pack_Temperature57',
       'Pack_Temperature58', 'Pack_Temperature59', 'Pack_Temperature60',
       'Pack_Temperature61', 'Pack_Temperature62', 'Pack_Temperature63',
       'Pack_Temperature64', 'Pack_Temperature73', 'Pack_Temperature74',
       'Pack_Temperature75', 'Pack_Temperature76', 'Pack_Temperature77',
       'Pack_Temperature78', 'Pack_Temperature79', 'Pack_Temperature80',
       'Pack_Temperature49', 'Pack_Temperature50', 'Pack_Temperature51',
       'Pack_Temperature52', 'Pack_Temperature53', 'Pack_Temperature54',
       'Pack_Temperature55', 'Pack_Temperature56', 'Pack_Temperature65',
       'Pack_Temperature66', 'Pack_Temperature67', 'Pack_Temperature68',
       'Pack_Temperature69', 'Pack_Temperature70', 'Pack_Temperature71',
       'Pack_Temperature72', 'Pack_Temperature41', 'Pack_Temperature42',
       'Pack_Temperature43', 'Pack_Temperature44', 'Pack_Temperature45',
       'Pack_Temperature46', 'Pack_Temperature47', 'Pack_Temperature48',
       'Pack_Temperature9', 'Pack_Temperature10', 'Pack_Temperature11',
       'Pack_Temperature12', 'Pack_Temperature13'],
      dtype='object')

In [5]:
df.filter(regex='(Temp)', axis=1).columns

Index(['Pack_Temperature14', 'Pack_Temperature15', 'Pack_Temperature16',
       'BatteryCoolantTemperature', 'Motor_Temperature', 'IGBT_Temperature',
       'GUNA_DCP_Temperature', 'GUNA_DCM_Temperature', 'GUNB_DCP_Temperature',
       'GUNB_DCM_Temperature', 'Temperaturedifferencealarm',
       'Pack1_cellMax_Temperature', 'Pack1_MaxTemperature_Cell_Number',
       'Pack1_cell_Min_Temperature', 'Pack1_cellTemperature_CellNumber',
       'Air_Compreesor_Temperature', 'Pack_Temperature25',
       'Pack_Temperature26', 'Pack_Temperature27', 'Pack_Temperature28',
       'Pack_Temperature29', 'Pack_Temperature30', 'Pack_Temperature31',
       'Pack_Temperature32', 'Pack_Temperature17', 'Pack_Temperature18',
       'Pack_Temperature19', 'Pack_Temperature20', 'Pack_Temperature21',
       'Pack_Temperature22', 'Pack_Temperature23', 'Pack_Temperature24',
       'Pack_Temperature33', 'Pack_Temperature34', 'Pack_Temperature35',
       'Pack_Temperature36', 'Pack_Temperature37', 'Pack_Temperature38',
       'Pack_Temperature39', 'Pack_Temperature40', 'Pack_Temperature1',
       'Pack_Temperature2', 'Pack_Temperature3', 'Pack_Temperature4',
       'Pack_Temperature5', 'Pack_Temperature6', 'Pack_Temperature7',
       'Pack_Temperature8', 'Pack_Temperature57', 'Pack_Temperature58',
       'Pack_Temperature59', 'Pack_Temperature60', 'Pack_Temperature61',
       'Pack_Temperature62', 'Pack_Temperature63', 'Pack_Temperature64',
       'Pack_Temperature73', 'Pack_Temperature74', 'Pack_Temperature75',
       'Pack_Temperature76', 'Pack_Temperature77', 'Pack_Temperature78',
       'Pack_Temperature79', 'Pack_Temperature80', 'Pack_Temperature49',
       'Pack_Temperature50', 'Pack_Temperature51', 'Pack_Temperature52',
       'Pack_Temperature53', 'Pack_Temperature54', 'Pack_Temperature55',
       'Pack_Temperature56', 'Pack_Temperature65', 'Pack_Temperature66',
       'Pack_Temperature67', 'Pack_Temperature68', 'Pack_Temperature69',
       'Pack_Temperature70', 'Pack_Temperature71', 'Pack_Temperature72',
       'Pack_Temperature41', 'Pack_Temperature42', 'Pack_Temperature43',
       'Pack_Temperature44', 'Pack_Temperature45', 'Pack_Temperature46',
       'Pack_Temperature47', 'Pack_Temperature48', 'Pack_Temperature9',
       'Pack_Temperature10', 'Pack_Temperature11', 'Pack_Temperature12',
       'Pack_Temperature13'],
      dtype='object')

In [6]:
df1 = df[["IST","IGBT_Temperature","Air_Compreesor_Temperature","Motor_Temperature","BatteryCoolantTemperature","GUNA_DCP_Temperature","GUNA_DCM_Temperature","Pack1_cellMax_Temperature"]]
df1.head()

,IST,IGBT_Temperature,Air_Compreesor_Temperature,Motor_Temperature,BatteryCoolantTemperature,GUNA_DCP_Temperature,GUNA_DCM_Temperature,Pack1_cellMax_Temperature
0,2025-08-13 17:28:12.222000+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-08-13 17:28:11.382000+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-08-13 17:28:10.202000+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-08-13 17:28:09.182000+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-08-13 17:28:08.042000+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df1.Motor_Temperature.value_counts()

Motor_Temperature
17.0    2737
19.0    2597
22.0    2266
20.0    1849
16.0    1686
24.0    1330
23.0    1137
18.0     723
0.0        9
14.0       9
5.0        1
6.0        1
7.0        1
12.0       1
2.0        1
11.0       1
Name: count, dtype: int64

In [8]:
df1.Motor_Temperature.isnull().value_counts()

Motor_Temperature
False    14349
True       147
Name: count, dtype: int64

In [9]:
df1.BatteryCoolantTemperature.isnull().value_counts()

BatteryCoolantTemperature
True    14496
Name: count, dtype: int64

In [11]:
df1.Pack1_cellMax_Temperature.isnull().value_counts()

Pack1_cellMax_Temperature
False    14340
True       156
Name: count, dtype: int64

In [12]:
df1.Pack1_cellMax_Temperature.value_counts()

Pack1_cellMax_Temperature
 33.0    7580
 32.0    4775
 34.0    1978
-40.0       7
Name: count, dtype: int64

In [ ]:
SELECT
  DATE_TRUNC('DAY', CAST(record_time AS TIMESTAMP)) AS record_time,
  AVG(battery_temperature) AS "AVG(battery_temperature)",
  AVG(motor_temperature) AS "AVG(motor_temperature)"
FROM (
  WITH vehicle_running_data AS (
    SELECT
      id AS bus_id,
      timestamp,
      dt,
      batterycoolanttemperature AS coolant_temp,
      motor_temperature,
      pack1_cellmax_temperature AS avg_pack_temp
    FROM facts_prod.can_parsed_output_100
    WHERE
      dt >= CURRENT_DATE - INTERVAL '30' DAY
      AND ignitionstatus = 1
      AND (
        vehicle_speed_vcu > 0 OR motor_rpm > 0
      )
      AND gun_connection_status = 0
  ), temperature_data AS (
    /* Create unified temperature fields */
    SELECT
      bus_id,
      timestamp,
      COALESCE(coolant_temp, avg_pack_temp) AS battery_temperature, /* Use coolant temperature as primary, pack temp as backup */
      motor_temperature
    FROM vehicle_running_data
    WHERE
      NOT COALESCE(coolant_temp, avg_pack_temp) IS NULL
      AND NOT motor_temperature IS NULL
  )
  SELECT
    bus_id,
    timestamp AS record_time,
    battery_temperature,
    motor_temperature
  FROM temperature_data
  ORDER BY
    bus_id,
    record_time
) AS virtual_table
GROUP BY
  DATE_TRUNC('DAY', CAST(record_time AS TIMESTAMP))
ORDER BY
  "AVG(battery_temperature)" DESC
LIMIT 1000

# fleet_temprature 


# NOTE - later added vehcle ID here - https://naarni.slack.com/archives/D09A1LQBTGQ/p1755632283126879?thread_ts=1755600533.477159&cid=D09A1LQBTGQ