In [1]:
!pwd

/home/notebook/prod/nelson

In [2]:
# Import required modules
import sys
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

#!/usr/bin/env python
# coding: utf-8
from pathlib import Path
import sys

# Get current working directory (works in notebooks and scripts)
current_dir = Path.cwd()

# Try to find the common directory in parent directories
project_root = None
for parent in [current_dir] + list(current_dir.parents):
    if (parent / "common").is_dir():
        project_root = parent
        break
print(current_dir)

if project_root is None:
    raise FileNotFoundError("Could not find 'common' directory in any parent directory")
else:
    print(project_root)

# Add project root to path
sys.path.insert(0, str(project_root))

# # Now import as before
# from common.db_operations import connect_to_trino, execute_query, fetch_data_for_day, write_df_to_iceberg, write_df_to_iceberg_simple, table_exists, load_data_directly, create_table_from_df, get_table_schema


# # Import the DBTIntegration class
# from common.dbt_integration import DBTIntegration

/home/notebook/prod/nelson
/home/notebook/prod/nelson

ImportError: cannot import name 'write_df_to_iceberg_simple' from 'common.db_operations' (/home/notebook/prod/nelson/common/db_operations.py)

In [9]:
# check_latest_gps.py
import trino
import pandas as pd

def run_query(query):
    try:
        conn = trino.dbapi.connect(
            host="trino",
            port=8080,
            user="admin",
            catalog="adhoc",
            schema="facts_dev"
        )
        cursor = conn.cursor()
        cursor.execute(query)
        columns = [desc[0] for desc in cursor.description]
        data = cursor.fetchall()
        df = pd.DataFrame(data, columns=columns)
        cursor.close()
        conn.close()
        return df
    except Exception as e:
        print(f"Error: {e}")
        return None

# Check if the view exists (using correct Trino syntax)
print("Checking if view exists:")
query1 = "SHOW TABLES FROM facts_dev LIKE 'latest_gps'"
df1 = run_query(query1)
if df1 is not None:
    print(df1)

# Query the view to see the data
print("\nQuerying the view:")
query2 = "SELECT * FROM facts_dev.latest_gps LIMIT 10"
df2 = run_query(query2)
if df2 is not None:
    display(df2)

Checking if view exists:
        Table
0  latest_gps

Querying the view:

,id,timestamp,latitude,longitude,ground_speed_kmph,satellites_used
0,42,2025-10-08 13:59:36.583,28.423693,76.991646,0.00,31
1,29,2025-10-07 23:51:59.390,12.838359,77.419556,1.81,3
2,18,2025-10-08 13:59:33.692,29.671915,77.843630,74.24,31
3,19,2025-10-08 13:59:37.180,28.422977,76.991570,0.00,30
4,6,2025-10-08 13:59:35.316,17.404772,78.333420,0.00,28
5,9,2025-10-08 13:59:36.647,16.368923,80.509970,0.00,30
6,11,2025-10-08 13:59:35.034,16.369186,80.509680,0.00,30
7,13,2025-10-08 13:59:36.110,17.849846,83.357280,0.00,30
8,14,2025-10-08 13:57:56.695,16.500898,80.634460,2.72,20
9,16,2025-10-08 13:59:34.782,30.287727,77.998820,0.00,14