In [1]:
#!/usr/bin/env python
# coding: utf-8
import sys
import platform
import logging

sys.path.append('..')
from common import db_operations

import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
from common.db_operations import connect_to_trino, fetch_data_for_day, write_df_to_iceberg,execute_query

In [2]:
# Configure basic logging for the business logic file
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s - %(levelname)s - %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')

# Print the Python version being used
print(f"Using Python version: {platform.python_version()}")

Using Python version: 3.11.13

In [6]:
conn = connect_to_trino()
query = f"""
select 
    id,cast(timestamp as date) as dateval,count(*)
FROM 
    clickhouse.naarni.can_parsed_output_100
where date = DATE('2025-09-01')
group by 1,2
"""
df = execute_query(conn, query)
df.head()

2025-09-29 05:24:01 - INFO - üîå STEP 1: Connecting to Trino...
2025-09-29 05:24:01 - INFO - ‚úÖ STEP 1: Connected to Trino
2025-09-29 05:24:01 - INFO - ‚öôÔ∏è Executing query...
2025-09-29 05:24:01 - INFO - ‚úÖ Query executed successfully!

      id     dateval  _col2
0  b'16'  2025-09-01  71630
1  b'19'  2025-09-01  41943
2   b'3'  2025-09-01  51376
3  b'18'  2025-09-01  13546