In [64]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import os

In [70]:
!python3 --version

Python 3.13.7

In [23]:
vehicle_id = 'AP39WF8584'
datefield = 'JAS25'

file_path = f'./{vehicle_id}/{vehicle_id}_{datefield}.csv'
file_path_gps = f'./{vehicle_id}/{vehicle_id}_{datefield}_gps.csv'
soc_mileage_folder = 'socMileage'

print(file_path)
print(file_path_gps)
print(soc_mileage_folder)

cleaned_file_path = f'./{file_path.split('/')[1]}/{soc_mileage_folder}/{file_path.split('/')[-1].split('.')[0]}_cleaned.csv'  # Assuming cleaned file is in the same folder
gps_trimmed_file_path = f'./{file_path_gps.split('/')[1]}/{soc_mileage_folder}/{file_path_gps.split('/')[-1].split('.')[0]}_trimmed.csv'  # Assuming GPS file is in the same folder
final_file_path = f'./{file_path_gps.split('/')[1]}/{soc_mileage_folder}/{file_path.split('/')[-1].split('.')[0]}_SOC_Mileage.csv'  # Assuming final file is in the same folder
print(cleaned_file_path)
print(gps_trimmed_file_path)
print(final_file_path)

./AP39WF8584/AP39WF8584_JAS25.csv
./AP39WF8584/AP39WF8584_JAS25_gps.csv
socMileage
./AP39WF8584/socMileage/AP39WF8584_JAS25_cleaned.csv
./AP39WF8584/socMileage/AP39WF8584_JAS25_gps_trimmed.csv
./AP39WF8584/socMileage/AP39WF8584_JAS25_SOC_Mileage.csv

In [24]:
df0 = pd.read_csv(file_path)

# Convert the 'timestamp' column to a datetime object.
df0['IST'] = pd.to_datetime(df0['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')

cols = ["id","timestamp","IST","sequence" ,"BAT_SOC", "Bat_Voltage","Total_Battery_Current",
        "GUN_Connection_Status","IgnitionStatus","Vehiclereadycondition",        
        "Gear_Position","AccelarationPedal","BrakePedalPos","OdoMeterReading"]
df0 = df0[cols]

review_cols = ["BAT_SOC", "Bat_Voltage", "Total_Battery_Current", "IgnitionStatus","Gear_Position","Vehiclereadycondition"]
null_counts = df0[review_cols].isna().sum()
null_percentages = round(df0[review_cols].isna().sum().div(len(df0)) * 100,2)
for col in null_counts.index:
    print(col,':',null_counts[col], '|',null_percentages[col])
print('Total_dataset:', df0.shape[0])

df0.head()

BAT_SOC : 152905 | 13.25
Bat_Voltage : 152905 | 13.25
Total_Battery_Current : 152905 | 13.25
IgnitionStatus : 61016 | 5.29
Gear_Position : 99239 | 8.6
Vehiclereadycondition : 99239 | 8.6
Total_dataset: 1154262

,id,timestamp,IST,sequence,BAT_SOC,Bat_Voltage,Total_Battery_Current,GUN_Connection_Status,IgnitionStatus,Vehiclereadycondition,Gear_Position,AccelarationPedal,BrakePedalPos,OdoMeterReading
0,13,1757615397555,2025-09-11 23:59:57.555000+05:30,59696,86.4,638.0,3.8,0.0,1.0,1.0,2.0,0.0,0.0,38696.75
1,13,1757615396235,2025-09-11 23:59:56.235000+05:30,58603,86.4,638.0,3.8,0.0,NaN,1.0,2.0,0.0,0.0,38696.75
2,13,1757615394595,2025-09-11 23:59:54.595000+05:30,57324,NaN,NaN,NaN,0.0,NaN,1.0,2.0,0.0,0.0,38696.75
3,13,1757615393215,2025-09-11 23:59:53.215000+05:30,56226,86.4,638.0,3.7,0.0,1.0,1.0,2.0,0.0,0.0,38696.75
4,13,1757615391615,2025-09-11 23:59:51.615000+05:30,54971,86.4,638.0,3.7,0.0,1.0,1.0,2.0,0.0,0.0,38696.75

In [25]:
cols = df0.filter(regex='^(Gear|Acc|Brak|Odo)', axis=1).columns
cols

Index(['Gear_Position', 'AccelarationPedal', 'BrakePedalPos',
       'OdoMeterReading'],
      dtype='object')

In [26]:
df0.dropna(subset=review_cols, inplace=True)
null_percentages = round(df0[review_cols].isna().sum().div(len(df0)) * 100,2)
print(null_percentages)

df0 = df0.sort_values(by='sequence').reset_index(drop=True)
#create files 
if not os.path.exists(cleaned_file_path):
    os.makedirs(os.path.dirname(cleaned_file_path), exist_ok=True)
    df0.to_csv(cleaned_file_path, index=False)

BAT_SOC                  0.0
Bat_Voltage              0.0
Total_Battery_Current    0.0
IgnitionStatus           0.0
Gear_Position            0.0
Vehiclereadycondition    0.0
dtype: float64

In [27]:
wait here

SyntaxError: invalid syntax (3991150741.py, line 1)

In [ ]:
df1 = pd.read_csv(file_path_gps)
df1 = df1.sort_values(by='sequence').reset_index(drop=True)
df1.head()

,id,timestamp,timestamp.1,sequence,gps_time,course_over_ground,hdop,gps_date,geoid_height,satellites_in_view,vdop,longitude,fix,pdop,ground_speed_kmph,satellites_used,latitude,altitude
0,13,1755095878010,1755095878010,1,20:7:57 PM,119.20,1.8,13 Aug 2025,-80.2,19,1.5,80.622894,3D,2.3,14.40,9,16.508500,14.2
1,13,1754055435784,1754055435784,1,19:7:15 PM,326.23,2.1,1 Aug 2025,-76.9,27,3.8,78.434200,3D,4.3,3.90,8,17.455776,543.0
2,13,1755628276100,1755628276100,1,24:1:16 PM,299.72,1.9,19 Aug 2025,-80.2,23,2.2,80.594510,3D,2.9,48.99,9,16.524794,21.6
3,13,1754770837487,1754770837487,1,25:50:37 PM,304.54,0.9,9 Aug 2025,-79.8,26,1.4,80.218020,3D,1.7,71.32,12,16.843409,70.4
4,13,1754549183737,1754549183737,1,12:16:22 PM,0.00,0.8,7 Aug 2025,-80.1,30,1.5,80.578830,3D,1.8,0.92,17,16.544630,25.4

In [ ]:
df1['IST'] = pd.to_datetime(df1['timestamp'], unit='ms').dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')
gps_cols = ['id','IST','timestamp','sequence','gps_date','gps_time', 'course_over_ground', 
            'vdop', 'hdop', 'pdop', 'fix', 'satellites_in_view', 
            'latitude', 'longitude', 'altitude', 
            'ground_speed_kmph', 'satellites_used']
df1 = df1[gps_cols].sort_values(by='timestamp').reset_index(drop=True)
df1.head(3)

,id,IST,timestamp,sequence,gps_date,gps_time,course_over_ground,vdop,hdop,pdop,fix,satellites_in_view,latitude,longitude,altitude,ground_speed_kmph,satellites_used
0,13,2025-08-01 00:00:01.072000+05:30,1753986601072,22617,31 July 2025,23:59:54 PM,219.38,0.9,0.6,1.1,3D,21,17.620872,82.882126,29.1,62.47,27
1,13,2025-08-01 00:00:05.072000+05:30,1753986605072,22619,31 July 2025,23:59:59 PM,218.51,0.9,0.6,1.1,3D,21,17.620472,82.881770,30.2,48.80,28
2,13,2025-08-01 00:00:07.072000+05:30,1753986607072,22620,31 July 2025,24:0:0 PM,218.10,0.9,0.6,1.1,3D,21,17.620289,82.881620,30.9,46.16,28

In [ ]:
cols = df0.filter(regex='^(time)', axis=1).columns
cols

Index(['timestamp'], dtype='object')

In [ ]:
# Perform an inner join on the 'timestamp' column
merged_df = pd.merge(df0, df1, on='timestamp', how='inner')

# # Save the merged DataFrame
# merged_df.to_csv("8593_150825_merged_data.csv", index=False)
# merged_df = merged_df.sort_values(by='IST').reset_index(drop=True)
# merged_df.to_csv("8593_150825_merged_data_sorted.csv", index=False)
merged_df.head()

,id_x,timestamp,IST_x,sequence_x,BAT_SOC,Bat_Voltage,Total_Battery_Current,GUN_Connection_Status,IgnitionStatus,Vehiclereadycondition,...,vdop,hdop,pdop,fix,satellites_in_view,latitude,longitude,altitude,ground_speed_kmph,satellites_used
0,13,1755612870700,2025-08-19 19:44:30.700000+05:30,247,67.6,653.6,-335.3,1.0,0.0,0.0,...,0.9,0.6,1.1,3D,17,16.369005,80.509834,39.3,0.00,23
1,13,1755950720026,2025-08-23 17:35:20.026000+05:30,534,55.2,625.1,-50.4,0.0,1.0,1.0,...,1.0,0.7,1.2,3D,14,16.694246,80.370420,36.2,72.96,23
2,13,1755695497192,2025-08-20 18:41:37.192000+05:30,675,48.0,630.3,8.9,0.0,1.0,1.0,...,1.4,0.8,1.6,3D,27,16.368923,80.509636,26.5,0.53,13
3,13,1755628888180,2025-08-20 00:11:28.180000+05:30,724,85.2,637.6,-39.1,0.0,1.0,1.0,...,1.2,0.7,1.3,3D,26,16.559727,80.561460,39.4,46.77,17
4,13,1755110447233,2025-08-14 00:10:47.233000+05:30,791,88.0,631.3,308.9,0.0,1.0,1.0,...,0.9,0.7,1.2,3D,26,16.572914,80.863240,22.9,9.12,22

In [ ]:
merged_df.columns

Index(['id_x', 'timestamp', 'IST_x', 'sequence_x', 'BAT_SOC', 'Bat_Voltage',
       'Total_Battery_Current', 'GUN_Connection_Status', 'IgnitionStatus',
       'Vehiclereadycondition', 'Gear_Position', 'AccelarationPedal',
       'BrakePedalPos', 'OdoMeterReading', 'id_y', 'IST_y', 'sequence_y',
       'gps_date', 'gps_time', 'course_over_ground', 'vdop', 'hdop', 'pdop',
       'fix', 'satellites_in_view', 'latitude', 'longitude', 'altitude',
       'ground_speed_kmph', 'satellites_used'],
      dtype='object')

In [ ]:
cols = ['id_x','id_y','timestamp','IST_x','IST_y','gps_date','gps_time','sequence_x','sequence_y',
                    'BAT_SOC','Bat_Voltage','Total_Battery_Current','GUN_Connection_Status']
temp_df = merged_df[cols]
        
temp_df.head()

,id_x,id_y,timestamp,IST_x,IST_y,gps_date,gps_time,sequence_x,sequence_y,BAT_SOC,Bat_Voltage,Total_Battery_Current,GUN_Connection_Status
0,13,13,1755612870700,2025-08-19 19:44:30.700000+05:30,2025-08-19 19:44:30.700000+05:30,19 Aug 2025,19:44:24 PM,247,1219,67.6,653.6,-335.3,1.0
1,13,13,1755950720026,2025-08-23 17:35:20.026000+05:30,2025-08-23 17:35:20.026000+05:30,23 Aug 2025,17:35:14 PM,534,199,55.2,625.1,-50.4,0.0
2,13,13,1755695497192,2025-08-20 18:41:37.192000+05:30,2025-08-20 18:41:37.192000+05:30,20 Aug 2025,18:41:36 PM,675,371,48.0,630.3,8.9,0.0
3,13,13,1755628888180,2025-08-20 00:11:28.180000+05:30,2025-08-20 00:11:28.180000+05:30,19 Aug 2025,24:11:27 PM,724,307,85.2,637.6,-39.1,0.0
4,13,13,1755110447233,2025-08-14 00:10:47.233000+05:30,2025-08-14 00:10:47.233000+05:30,13 Aug 2025,24:10:41 PM,791,696,88.0,631.3,308.9,0.0

In [ ]:
# Drop the duplicate and redundant columns
merged_df = merged_df.drop(columns=['timestamp','id_y', 'IST_y','sequence_y'], axis=1)

# Rename columns for clarity
merged_df = merged_df.rename(columns={'id_x': 'id','IST_x':'IST', 'sequence_x': 'sequence'})

df3 = merged_df.copy()
df3.head()

,id,IST,sequence,BAT_SOC,Bat_Voltage,Total_Battery_Current,GUN_Connection_Status,IgnitionStatus,Vehiclereadycondition,Gear_Position,...,vdop,hdop,pdop,fix,satellites_in_view,latitude,longitude,altitude,ground_speed_kmph,satellites_used
0,13,2025-08-19 19:44:30.700000+05:30,247,67.6,653.6,-335.3,1.0,0.0,0.0,0.0,...,0.9,0.6,1.1,3D,17,16.369005,80.509834,39.3,0.00,23
1,13,2025-08-23 17:35:20.026000+05:30,534,55.2,625.1,-50.4,0.0,1.0,1.0,2.0,...,1.0,0.7,1.2,3D,14,16.694246,80.370420,36.2,72.96,23
2,13,2025-08-20 18:41:37.192000+05:30,675,48.0,630.3,8.9,0.0,1.0,1.0,2.0,...,1.4,0.8,1.6,3D,27,16.368923,80.509636,26.5,0.53,13
3,13,2025-08-20 00:11:28.180000+05:30,724,85.2,637.6,-39.1,0.0,1.0,1.0,2.0,...,1.2,0.7,1.3,3D,26,16.559727,80.561460,39.4,46.77,17
4,13,2025-08-14 00:10:47.233000+05:30,791,88.0,631.3,308.9,0.0,1.0,1.0,2.0,...,0.9,0.7,1.2,3D,26,16.572914,80.863240,22.9,9.12,22

In [ ]:
df3.columns

Index(['id', 'IST', 'sequence', 'BAT_SOC', 'Bat_Voltage',
       'Total_Battery_Current', 'GUN_Connection_Status', 'IgnitionStatus',
       'Vehiclereadycondition', 'Gear_Position', 'AccelarationPedal',
       'BrakePedalPos', 'OdoMeterReading', 'gps_date', 'gps_time',
       'course_over_ground', 'vdop', 'hdop', 'pdop', 'fix',
       'satellites_in_view', 'latitude', 'longitude', 'altitude',
       'ground_speed_kmph', 'satellites_used'],
      dtype='object')

In [ ]:
reshuffle_cols = ['id','sequence', 'IST','gps_date', 'gps_time', 
                'BAT_SOC', 'Bat_Voltage', 'Total_Battery_Current', 'GUN_Connection_Status', 'IgnitionStatus',
                'Vehiclereadycondition', 'Gear_Position', 'AccelarationPedal',
                'BrakePedalPos', 'OdoMeterReading', 'course_over_ground', 'vdop', 'hdop', 'pdop', 'fix',
                'satellites_in_view', 'latitude', 'longitude', 'altitude', 'ground_speed_kmph', 'satellites_used']

df3 = df3[reshuffle_cols]
df3.head()

,id,sequence,IST,gps_date,gps_time,BAT_SOC,Bat_Voltage,Total_Battery_Current,GUN_Connection_Status,IgnitionStatus,...,vdop,hdop,pdop,fix,satellites_in_view,latitude,longitude,altitude,ground_speed_kmph,satellites_used
0,13,247,2025-08-19 19:44:30.700000+05:30,19 Aug 2025,19:44:24 PM,67.6,653.6,-335.3,1.0,0.0,...,0.9,0.6,1.1,3D,17,16.369005,80.509834,39.3,0.00,23
1,13,534,2025-08-23 17:35:20.026000+05:30,23 Aug 2025,17:35:14 PM,55.2,625.1,-50.4,0.0,1.0,...,1.0,0.7,1.2,3D,14,16.694246,80.370420,36.2,72.96,23
2,13,675,2025-08-20 18:41:37.192000+05:30,20 Aug 2025,18:41:36 PM,48.0,630.3,8.9,0.0,1.0,...,1.4,0.8,1.6,3D,27,16.368923,80.509636,26.5,0.53,13
3,13,724,2025-08-20 00:11:28.180000+05:30,19 Aug 2025,24:11:27 PM,85.2,637.6,-39.1,0.0,1.0,...,1.2,0.7,1.3,3D,26,16.559727,80.561460,39.4,46.77,17
4,13,791,2025-08-14 00:10:47.233000+05:30,13 Aug 2025,24:10:41 PM,88.0,631.3,308.9,0.0,1.0,...,0.9,0.7,1.2,3D,26,16.572914,80.863240,22.9,9.12,22

In [ ]:
soc_cols = ['id','IST','BAT_SOC', 'Bat_Voltage', 'Total_Battery_Current', 'IgnitionStatus',
                'Vehiclereadycondition', 'Gear_Position', 'AccelarationPedal',
                'BrakePedalPos', 'OdoMeterReading','latitude', 'longitude', 'altitude', 'ground_speed_kmph']

df4 = df3[soc_cols]
df4.head()

,id,IST,BAT_SOC,Bat_Voltage,Total_Battery_Current,IgnitionStatus,Vehiclereadycondition,Gear_Position,AccelarationPedal,BrakePedalPos,OdoMeterReading,latitude,longitude,altitude,ground_speed_kmph
0,13,2025-08-19 19:44:30.700000+05:30,67.6,653.6,-335.3,0.0,0.0,0.0,0.0,NaN,NaN,16.369005,80.509834,39.3,0.00
1,13,2025-08-23 17:35:20.026000+05:30,55.2,625.1,-50.4,1.0,1.0,2.0,0.0,0.0,NaN,16.694246,80.370420,36.2,72.96
2,13,2025-08-20 18:41:37.192000+05:30,48.0,630.3,8.9,1.0,1.0,2.0,0.0,0.0,NaN,16.368923,80.509636,26.5,0.53
3,13,2025-08-20 00:11:28.180000+05:30,85.2,637.6,-39.1,1.0,1.0,2.0,0.0,0.0,NaN,16.559727,80.561460,39.4,46.77
4,13,2025-08-14 00:10:47.233000+05:30,88.0,631.3,308.9,1.0,1.0,2.0,99.6,0.0,16861.25,16.572914,80.863240,22.9,9.12

In [ ]:
#create files 
if not os.path.exists(final_file_path):
    os.makedirs(os.path.dirname(final_file_path), exist_ok=True)
    df4.to_csv(final_file_path, index=False)
    print(f"File saved to {final_file_path}")

In [ ]:
import pandas as pd
import numpy as np

def analyze_vehicle_stats(file_path):
    """
    Performs a combined analysis on an electric bus dataset to calculate
    daily mileage, daily energy consumption while driving, and total energy consumed
    while stationary and in a ready condition. This version also includes
    regenerative braking energy and uses the 'Gear_Position' column for analysis.

    Args:
        file_path (str): The path to the input CSV file.
    """
    try:
        # Load the dataset
        df = pd.read_csv(file_path)

        # --- General Data Preparation and Filtering ---
        # Ignore data points where the absolute value of Total_Battery_Current is greater than 2500
        df = df[df['Total_Battery_Current'].abs() <= 2500]
        
        # Convert timestamp before dropping rows, so we can check for NaT values
        df['IST'] = pd.to_datetime(df['IST'], format='mixed', utc=True, errors='coerce')
        
        # Drop rows with missing data in key columns, including IST
        df.dropna(subset=['OdoMeterReading', 'Gear_Position', 'Vehiclereadycondition', 'Total_Battery_Current', 'Bat_Voltage', 'IST'], inplace=True)
        
        df['Date'] = df['IST'].dt.date
        df.sort_values(by=['id', 'IST'], inplace=True)

        # Calculate the time difference between consecutive data points in seconds
        df['time_diff_seconds'] = df.groupby('id')['IST'].diff().dt.total_seconds().fillna(0)
        
        # Calculate the power in kW
        df['power_kW'] = (df['Bat_Voltage'] * df['Total_Battery_Current']) / 1000

        # --- Analysis 1: Daily Driving and Regenerative Braking Statistics ---
        print("\n--- Daily Vehicle Statistics (Driving, Regenerative Braking, and Idling) ---")
        
        # Filter for driving periods using 'Gear_Position' == 2 (Drive)
        driving_df = df[df['Gear_Position'] == 2.0].copy()

        # Calculate energy consumption (positive power) and regenerative braking energy (negative power)
        driving_df['energy_consumption_kwh'] = driving_df.apply(
            lambda row: row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] > 0 else 0, axis=1)
        driving_df['regen_energy_kwh'] = driving_df.apply(
            lambda row: -row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] < 0 else 0, axis=1)

        # Group driving data by vehicle ID and date to get daily stats
        if not driving_df.empty:
            grouped_by_day_driving = driving_df.groupby(['id', 'Date'])
            daily_driving_mileage = grouped_by_day_driving['OdoMeterReading'].apply(lambda x: x.iloc[-1] - x.iloc[0])
            daily_driving_energy = grouped_by_day_driving['energy_consumption_kwh'].sum()
            daily_regen_energy = grouped_by_day_driving['regen_energy_kwh'].sum()

            daily_stats_df = pd.DataFrame({
                'Daily Mileage (km)': round(daily_driving_mileage,2),
                'Daily Driving Energy Consumed (kWh)': round(daily_driving_energy,2),
                'Daily Regenerative Braking Energy (kWh)': round(daily_regen_energy,2)
            }).reset_index()

        # --- Analysis 2: Daily Idling Energy Consumption ---
        # Filter for idling periods using 'Gear_Position' == 0 (Neutral) and 'Vehiclereadycondition' == 1
        stationary_df = df[(df['Gear_Position'] == 0.0) & 
                           (df['Vehiclereadycondition'] == 1.0)].copy()
        
        if not stationary_df.empty:
            # Group stationary data by vehicle ID and date to get daily idling energy
            stationary_df['energy_kwh'] = stationary_df.apply(
                lambda row: row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] > 0 else 0, axis=1)
            grouped_by_day_stationary = stationary_df.groupby(['id', 'Date'])
            daily_idling_energy = grouped_by_day_stationary['energy_kwh'].sum()
            
            # Create a DataFrame for idling energy to merge
            daily_idling_df = daily_idling_energy.reset_index(name='Daily Idling Energy Consumed (kWh)')
            daily_idling_df = daily_idling_df.round({'Daily Idling Energy Consumed (kWh)': 2})  

            # Merge driving stats with idling stats
            if 'daily_stats_df' in locals():
                daily_stats_df = pd.merge(daily_stats_df, daily_idling_df, on=['id', 'Date'], how='left')
                daily_stats_df['Daily Idling Energy Consumed (kWh)'].fillna(0, inplace=True)
            else:
                daily_stats_df = daily_idling_df
        
        if 'daily_stats_df' in locals():
            # Add net energy consumption and consumption rate to the final dataframe
            daily_stats_df['Net Energy Consumed (kWh)'] = daily_stats_df['Daily Driving Energy Consumed (kWh)'] - daily_stats_df['Daily Regenerative Braking Energy (kWh)']
            daily_stats_df['Net Consumption Rate (kWh/km)'] = (daily_stats_df['Net Energy Consumed (kWh)'] / daily_stats_df['Daily Mileage (km)']).round(2)
            return daily_stats_df
        else:
            print("No data found for driving or idling periods.")

    except FileNotFoundError:
        print(f"Error: The file '{file_path}' was not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Run the combined analysis
results_df = analyze_vehicle_stats(cleaned_file_path)
results_df.head(5)

--- Daily Vehicle Statistics (Driving, Regenerative Braking, and Idling) ---

/var/folders/zf/hbscm11n3x7ckch1nd3tg2nh0000gn/T/ipykernel_9020/1403939659.py:81: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  daily_stats_df['Daily Idling Energy Consumed (kWh)'].fillna(0, inplace=True)

,id,Date,Daily Mileage (km),Daily Driving Energy Consumed (kWh),Daily Regenerative Braking Energy (kWh),Daily Idling Energy Consumed (kWh),Net Energy Consumed (kWh),Net Consumption Rate (kWh/km)
0,13,2025-08-09,215.50,217.89,35.16,0.16,182.73,0.85
1,13,2025-08-10,816.25,859.84,197.67,4.74,662.17,0.81
2,13,2025-08-11,397.75,461.60,109.35,0.51,352.25,0.89
3,13,2025-08-12,525.12,551.55,124.53,12.78,427.02,0.81
4,13,2025-08-13,787.12,925.04,192.59,1.47,732.45,0.93

In [ ]:
results_df.head(5)

,id,Date,Daily Mileage (km),Daily Driving Energy Consumed (kWh),Daily Regenerative Braking Energy (kWh),Daily Idling Energy Consumed (kWh),Net Energy Consumed (kWh),Net Consumption Rate (kWh/km)
0,13,2025-08-07,275.00,262.89,84.90,1.19,177.99,0.65
1,13,2025-08-08,554.62,555.50,136.52,37.26,418.98,0.76
2,13,2025-08-09,793.00,955.95,212.69,2.17,743.26,0.94
3,13,2025-08-10,816.25,859.84,197.67,4.74,662.17,0.81
4,13,2025-08-11,397.75,461.60,109.35,0.51,352.25,0.89

In [52]:
df_test = pd.read_csv('AP39WF8584/8584mixed_01030825.csv')
cols = ['id','timestamp','odometerreading', 'brakepedalpos', 'ignitionstatus',
       'brakingsystemmallfunction_alarm', 'brake_pad_worn_out_alarm',
       'guna_dcp_temperature', 'guna_dcm_temperature', 'gunb_dcp_temperature',
       'gunb_dcm_temperature', 'gun_connection_status', 'bat_soc',
       'bat_voltage', 'total_battery_current', 'accelarationpedal',
       'brake_pedal', 'vehiclereadycondition', 'vehicle_speed_vcu',
       'gear_position', 'vehiclecontrollerlife', 'accessorycontactorstatus']
df_test = df_test[cols]
df_test.rename(columns={'odometerreading': 'OdoMeterReading', 'brakepedalpos': 'BrakePedalPos', 'ignitionstatus': 'IgnitionStatus',
       'brakingsystemmallfunction_alarm': 'BrakingSystemMalfunctionAlarm', 'brake_pad_worn_out_alarm': 'BrakePadWornOutAlarm',
       'guna_dcp_temperature': 'GunaDcpTemperature', 'guna_dcm_temperature': 'GunaDcmTemperature', 'gunb_dcp_temperature': 'GunbDcpTemperature',
       'gunb_dcm_temperature': 'GunbDcmTemperature', 'gun_connection_status': 'GunConnectionStatus', 'bat_soc': 'BAT_SOC',
       'bat_voltage': 'Bat_Voltage', 'total_battery_current': 'Total_Battery_Current', 'accelarationpedal': 'AccelerationPedal',
       'brake_pedal': 'BrakePedal', 'vehiclereadycondition': 'Vehiclereadycondition', 'vehicle_speed_vcu': 'VehicleSpeedVCU',
       'gear_position': 'Gear_Position', 'vehiclecontrollerlife': 'VehicleControllerLife', 'accessorycontactorstatus': 'AccessoryContactorStatus'}, inplace=True)

df_test['IST'] = pd.to_datetime(df_test['timestamp']).dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')
# df_test.dropna(subset=review_cols, inplace=True)
cols = ['id', 'IST','OdoMeterReading', 'Gear_Position', 'Vehiclereadycondition', 'Total_Battery_Current', 'Bat_Voltage']
print(df_test.id.unique())
df_test = df_test[cols]
# df_test = df_test[df_test['Total_Battery_Current'].abs() <= 2500]
# df_test = df_test[df_test['id']==13]
df_test.head(2)

[14  9 13]

,id,IST,OdoMeterReading,Gear_Position,Vehiclereadycondition,Total_Battery_Current,Bat_Voltage
0,14,2025-08-01 07:04:10.039000+05:30,5013.500,2.0,1.0,2.6,629.6
1,9,2025-08-01 07:04:02.189000+05:30,5311.125,2.0,1.0,187.0,624.2

In [53]:
df_test.describe()

,id,OdoMeterReading,Gear_Position,Vehiclereadycondition,Total_Battery_Current,Bat_Voltage
count,100000.000000,89466.000000,94566.000000,94566.000000,93917.000000,93917.000000
mean,12.481330,7491.357356,1.566113,0.870397,13.394669,634.811501
std,1.937924,1815.857776,0.820906,0.335867,154.001733,12.095728
min,9.000000,4959.500000,0.000000,0.000000,-3200.000000,0.000000
25%,13.000000,6027.500000,2.000000,1.000000,-39.000000,629.500000
50%,13.000000,6532.187500,2.000000,1.000000,16.700000,634.300000
75%,14.000000,9796.500000,2.000000,1.000000,116.600000,637.600000
max,14.000000,10080.625000,2.000000,1.000000,333.100000,664.300000

In [ ]:
Following code handles data to be pushed to the database.

In [58]:
def analyze_vehicle_stats(df:pd.DataFrame):
    """
    Performs a combined analysis on an electric bus dataset that may contain
    data from multiple vehicles. The function calculates daily mileage, driving
    energy consumption, regenerative braking energy, and idling energy for
    each vehicle.

    Args:
        file_path (str): The path to the input CSV file.
    """
    try:
        # Load the dataset
        # df = pd.read_csv(file_path)

        # --- General Data Preparation and Filtering ---
        # Ignore data points with extreme current values.
        df = df[df['Total_Battery_Current'].abs() <= 2500].copy()
        
        # Convert IST column to datetime objects. 'errors=coerce' will turn
        # any invalid dates into NaT, which we will then drop.
        df['IST'] = pd.to_datetime(df['IST'], format='mixed', utc=True, errors='coerce')
        
        # Drop rows with missing data in key columns, including IST.
        df.dropna(subset=['OdoMeterReading', 'Gear_Position', 'Vehiclereadycondition', 'Total_Battery_Current', 'Bat_Voltage', 'IST'], inplace=True)
        
        # Sort data by vehicle ID and timestamp to ensure correct sequential calculations.
        df.sort_values(by=['id', 'IST'], inplace=True)
        
        # Extract the date for daily grouping
        df['Date'] = df['IST'].dt.date

        # Get a list of unique vehicle IDs to iterate through
        vehicle_ids = df['id'].unique().tolist()
        all_daily_stats = []

        print("\n--- Daily Vehicle Statistics (Driving, Regenerative Braking, and Idling) ---")
        
        # Iterate over each unique vehicle ID
        for vehicle_id in vehicle_ids:
            vehicle_df = df[df['id'] == vehicle_id].copy()

            print(f"Charging events were detected for device {vehicle_id}.")
            # Check if the grouped DataFrame is empty
            if vehicle_df.empty:
                print(f"No charging events were detected for device {vehicle_id}.")
                continue

            # Calculate the time difference between consecutive data points for the current vehicle.
            vehicle_df['time_diff_seconds'] = vehicle_df['IST'].diff().dt.total_seconds().fillna(0)
            
            # Filter out records where time difference is zero or negative.
            vehicle_df = vehicle_df[vehicle_df['time_diff_seconds'] > 0]
            
            # Calculate the power in kW
            vehicle_df['power_kW'] = (vehicle_df['Bat_Voltage'] * vehicle_df['Total_Battery_Current']) / 1000

            # --- Analysis 1: Daily Driving and Regenerative Braking Statistics ---
            driving_df = vehicle_df[vehicle_df['Gear_Position'] == 2.0].copy()

            # Calculate energy consumption (positive power) and regenerative braking energy (negative power)
            driving_df['energy_consumption_kwh'] = driving_df.apply(
                lambda row: row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] > 0 else 0, axis=1)
            driving_df['regen_energy_kwh'] = driving_df.apply(
                lambda row: -row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] < 0 else 0, axis=1)
            
            # Calculate incremental mileage for each row.
            driving_df['mileage_increment'] = driving_df['OdoMeterReading'].diff().fillna(0)
            
            # Filter out unrealistic mileage jumps (e.g., > 10 km in a single time step)
            driving_df = driving_df[driving_df['mileage_increment'] <= 10]

            if not driving_df.empty:
                grouped_by_day_driving = driving_df.groupby(['id', 'Date'])
                daily_driving_mileage = grouped_by_day_driving['mileage_increment'].sum()
                daily_driving_energy = grouped_by_day_driving['energy_consumption_kwh'].sum()
                daily_regen_energy = grouped_by_day_driving['regen_energy_kwh'].sum()

                daily_stats_df = pd.DataFrame({
                    'Daily Mileage (km)': round(daily_driving_mileage, 2),
                    'Daily Driving Energy Consumed (kWh)': round(daily_driving_energy, 2),
                    'Daily Regenerative Braking Energy (kWh)': round(daily_regen_energy, 2)
                }).reset_index()
            else:
                daily_stats_df = pd.DataFrame()

            # --- Analysis 2: Daily Idling Energy Consumption ---
            # Filter for idling periods using 'Gear_Position' == 0 (Neutral) and 'Vehiclereadycondition' == 1
            stationary_df = vehicle_df[(vehicle_df['Gear_Position'] == 0.0) & 
                                       (vehicle_df['Vehiclereadycondition'] == 1.0)].copy()
            
            if not stationary_df.empty:
                stationary_df['energy_kwh'] = stationary_df.apply(
                    lambda row: row['power_kW'] * (row['time_diff_seconds'] / 3600) if row['power_kW'] > 0 else 0, axis=1)
                grouped_by_day_stationary = stationary_df.groupby(['id', 'Date'])
                daily_idling_energy = grouped_by_day_stationary['energy_kwh'].sum()
                
                daily_idling_df = daily_idling_energy.reset_index(name='Daily Idling Energy Consumed (kWh)')
                daily_idling_df = daily_idling_df.round({'Daily Idling Energy Consumed (kWh)': 2})  

                if not daily_stats_df.empty:
                    daily_stats_df = pd.merge(daily_stats_df, daily_idling_df, on=['id', 'Date'], how='left')
                    # Corrected line to avoid FutureWarning
                    daily_stats_df['Daily Idling Energy Consumed (kWh)'] = daily_stats_df['Daily Idling Energy Consumed (kWh)'].fillna(0)
                else:
                    daily_stats_df = daily_idling_df
            
            if not daily_stats_df.empty:
                daily_stats_df['Net Energy Consumed (kWh)'] = daily_stats_df['Daily Driving Energy Consumed (kWh)'] - daily_stats_df['Daily Regenerative Braking Energy (kWh)']
                daily_stats_df['Net Consumption Rate (kWh/km)'] = (daily_stats_df['Net Energy Consumed (kWh)'] / daily_stats_df['Daily Mileage (km)']).round(2)
                all_daily_stats.append(daily_stats_df)
        
        if all_daily_stats:
            final_df = pd.concat(all_daily_stats, ignore_index=True)
            return final_df
        else:
            print("No data found for driving or idling periods.")
            return pd.DataFrame()

    except FileNotFoundError:
        print(f"Error: The file '{file_path}' was not found.")
    except Exception as e:
        print(f"An error occurred: {e}")
# Run the combined analysis
results_df = analyze_vehicle_stats(df_test)
results_df.head(20)

--- Daily Vehicle Statistics (Driving, Regenerative Braking, and Idling) ---
Charging events were detected for device 9.
Charging events were detected for device 13.
Charging events were detected for device 14.

,id,Date,Daily Mileage (km),Daily Driving Energy Consumed (kWh),Daily Regenerative Braking Energy (kWh),Daily Idling Energy Consumed (kWh),Net Energy Consumed (kWh),Net Consumption Rate (kWh/km)
0,9,2025-08-01,65.50,83.50,23.48,0.00,60.02,0.92
1,9,2025-08-03,111.00,110.02,12.39,21.49,97.63,0.88
2,13,2025-08-01,63.38,68.47,18.04,0.00,50.43,0.80
3,13,2025-08-02,17.12,12.20,5.42,0.00,6.78,0.40
4,13,2025-08-03,385.62,426.72,84.57,0.09,342.15,0.89
5,14,2025-08-01,53.88,59.46,20.41,0.00,39.05,0.72
6,14,2025-08-02,13.12,17.80,4.52,0.00,13.28,1.01
7,14,2025-08-03,379.38,432.53,78.88,2.38,353.65,0.93

In [49]:
results_df.to_csv('8584_testenergy.csv', index=False)