In [1]:
#!/usr/bin/env python
# coding: utf-8

import os
import sys
import platform
import logging
import argparse
from datetime import datetime, date, timedelta
import pendulum
import pandas as pd
import numpy as np
import re
from IPython.display import display

In [2]:
# Add parent directory to path
repo_path = '/home/notebook/prod/nelson/dview-naarni-data-platform'
sys.path.append(os.path.join(repo_path, 'tasks'))

# Import necessary files and its respective functions
from common.db_operations import connect_to_trino, fetch_data_for_day, write_df_to_iceberg,drop_table,execute_query
from common.optimizer_logic import optimize_dataframe_memory

# Import business logic functions
from biz_logic.energy_mileage.energy_mileage_daily_v0 import energy_mileage_stats ,impute_odometer_readings

from biz_logic.energy_consumption.energy_consumption_report import energy_consumption_stats

# Configure basic logging
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s - %(levelname)s - %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')

# Print the Python version being used
print(f"Using Python version: {platform.python_version()}")

Using Python version: 3.11.13

In [3]:
def parse_copy_blocks(sql_path):
    """
    Parses a PostgreSQL dump file and extracts COPY blocks into:
    {table_name: {"columns": [...], "rows": [...]}}
    """

    with open(sql_path, "r", encoding="utf-8") as f:
        lines = f.readlines()

    copy_pattern = re.compile(r'^COPY\s+public\.([a-zA-Z0-9_]+)\s*\((.*?)\)\s+FROM\s+stdin;')
    
    tables = {}
    current_table = None

    for line in lines:
        match = copy_pattern.match(line)
        if match:
            table_name = match.group(1)
            columns = [c.strip() for c in match.group(2).split(",")]

            current_table = table_name
            tables[current_table] = {"columns": columns, "rows": []}
            continue

        if current_table:
            if line.strip() == r"\.":
                current_table = None
            else:
                # Split COPY row by tabs
                row = [None if v == r"\N" else v for v in line.rstrip("\n").split("\t")]
                tables[current_table]["rows"].append(row)

    return tables

In [4]:
# ---- CLI Argument Parser ----
def is_running_in_jupyter():
    try:
        from IPython import get_ipython
        if 'IPKernelApp' in get_ipython().config:
            return True
    except Exception:
        pass
    return False


def parse_arguments():
    parser = argparse.ArgumentParser(description="Process facts-prod bizlogic data.")
    parser.add_argument("--date", type=str, help="Date to process in YYYY-MM-DD format (IST).")
    parser.add_argument("--yesterday", action="store_true", help="Process yesterday's data (overrides --date if both are provided)")

    if is_running_in_jupyter():
        class DefaultArgs:
            date = None
            yesterday = False
        return DefaultArgs()

    return parser.parse_args()


# ---- Date Handling (Fixed Timezone Logic) ----
def get_target_date(args):
    """Determine which date's data to process (IST-based)."""
    tz = pendulum.timezone("Asia/Kolkata")

    if args.date:
        target_date = pendulum.parse(args.date, tz=tz).date()
    elif args.yesterday:
        target_date = pendulum.now(tz).subtract(days=1).date()
    else:
        target_date = pendulum.now(tz).date()

    logging.info(f"Script running at {pendulum.now(tz)} (IST)")
    logging.info(f"Extracting data for {target_date}")
    return target_date


def process_data(conn, df: pd.DataFrame, table_name: str, schema: str = "facts_prod", push_to_db: bool = True, partition_by: list = None):
    # Process data related energy-mileage relation
    df_res = df
    if not df_res.empty:
        if push_to_db:
            write_df_to_iceberg(conn, df_res, table_name, schema, partition_by=partition_by)
            logging.info(f"‚úÖ Processing and write for {table_name} complete with partitioning by {partition_by}.")
        else:
            logging.info(f"‚úÖ Processing for {table_name} complete. Data not pushed to database.")
    else:
        logging.info("Processed DataFrame is empty. No data to write.")
    return df_res

In [5]:
sql_path = "naarni_backend.sql"   # Path to your file
tables_data = parse_copy_blocks(sql_path)

print("Tables detected:", list(tables_data.keys()))

Tables detected: ['cities', 'device_vehicle_mappings', 'fleet_operator_mappings', 'fleets', 'organizations', 'routes', 'user_accounts', 'user_profiles', 'vehicle_devices', 'vehicle_goals', 'vehicles']

In [6]:
def try_parse_datetime(series):
    """
    Attempt fast datetime conversion.
    Avoid pandas format warnings by suppressing inference alerts.
    If parsing fails, return original series unchanged.
    """

    # Skip non-string columns
    if series.dtype != object:
        return series

    # Try to detect datetime-looking strings (cheap check)
    sample = series.dropna().astype(str).head(5)
    if not any(c in s for s in sample for c in ["-", ":", "T", "+"]):
        return series  # probably not datetime

    try:
        # errors='coerce' converts bad timestamps to NaT
        converted = pd.to_datetime(series, errors="coerce", utc=True)
        
        # If too many coercions happened, abort conversion
        non_null_ratio = converted.notna().mean()
        if non_null_ratio < 0.5:  # less than 50% valid timestamps ‚Üí treat as non-datetime column
            return series
        
        return converted

    except Exception:
        return series

In [7]:
conn = connect_to_trino()

target_schema = "facts_dev"

for table, info in tables_data.items():
    print(f"\nüöÄ Processing table: {table}")
    cols = info["columns"]
    rows = info["rows"]

    df = pd.DataFrame(rows, columns=cols)

    # Convert numeric-looking columns
    for c in df.columns:
        # Try float
        try:
            df[c] = pd.to_numeric(df[c])
            continue
        except:
            pass
        # Try datetime
        try:
            df[c] = try_parse_datetime(df[c])
        except:
            pass

    print(f"üìä Rows loaded for {table}: {len(df)}")

    # Write to Iceberg (Trino)
    write_df_to_iceberg(conn, df, table=table, schema=target_schema)

print("\nüéâ ALL TABLES IMPORTED SUCCESSFULLY INTO ICEBERG üéâ")

2025-12-04 19:52:38 - INFO - üîå STEP 1: Connecting to Trino...
2025-12-04 19:52:38 - INFO - ‚úÖ STEP 1: Connected to Trino
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:52:38 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.cities...
2025-12-04 19:52:38 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...

üöÄ Processing table: cities
üìä Rows loaded for cities: 179

2025-12-04 19:52:38 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table cities exists
2025-12-04 19:52:38 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:52:38 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 18, 8, 40, 1, 583805), datetime.datetime(2025, 11, 18, 8, 40, 1, 583805), 'New Delhi', 'Delhi', 'India', 28.61, 77.21, 't', 'National Capital of India')
2025-12-04 19:54:34 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 179 rows (total 179) into cities
2025-12-04 19:54:34 - INFO - üéâ [4/5] STEP 4g: Finished inserting 179 rows into cities
2025-12-04 19:54:34 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.device_vehicle_mappings...
2025-12-04 19:54:34 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:34 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table device_vehicle_mappings exists
2025-12-04 19:54:34 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:34 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 19, 8, 34, 25, 860705), datetime.datetime(2025, 11, 19, 8, 34, 25, 860705), 1, 1, datetime.datetime(2025, 11, 19, 8, 34, 25, 852941), None, 'ADMIN', None, None)

üöÄ Processing table: device_vehicle_mappings
üìä Rows loaded for device_vehicle_mappings: 25

2025-12-04 19:54:46 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 25 rows (total 25) into device_vehicle_mappings
2025-12-04 19:54:46 - INFO - üéâ [4/5] STEP 4g: Finished inserting 25 rows into device_vehicle_mappings
2025-12-04 19:54:46 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.fleet_operator_mappings...
2025-12-04 19:54:46 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:46 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table fleet_operator_mappings exists
2025-12-04 19:54:46 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:46 - INFO - üîç [4/5] STEP 4e: First row preview: (4, datetime.datetime(2025, 11, 20, 8, 0, 28, 783537), datetime.datetime(2025, 11, 20, 8, 0, 28, 783537), 1, 2, datetime.datetime(2025, 7, 1, 0, 0), None, None, None, None, None)

üöÄ Processing table: fleet_operator_mappings
üìä Rows loaded for fleet_operator_mappings: 4

2025-12-04 19:54:48 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 4 rows (total 4) into fleet_operator_mappings
2025-12-04 19:54:48 - INFO - üéâ [4/5] STEP 4g: Finished inserting 4 rows into fleet_operator_mappings
2025-12-04 19:54:48 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.fleets...
2025-12-04 19:54:48 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:48 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table fleets exists
2025-12-04 19:54:48 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:48 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 19, 8, 32, 56, 466480), datetime.datetime(2025, 11, 19, 8, 32, 56, 466480), 'zingbus', '', 1, 1)

üöÄ Processing table: fleets
üìä Rows loaded for fleets: 2

2025-12-04 19:54:49 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 2 rows (total 2) into fleets
2025-12-04 19:54:49 - INFO - üéâ [4/5] STEP 4g: Finished inserting 2 rows into fleets
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:54:49 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.organizations...
2025-12-04 19:54:49 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...

üöÄ Processing table: organizations
üìä Rows loaded for organizations: 3

2025-12-04 19:54:49 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table organizations exists
2025-12-04 19:54:49 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:49 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 18, 14, 54, 20, 139096), datetime.datetime(2025, 11, 18, 14, 54, 20, 139096), 'Naarni', None, 'INTERNAL', 't', 'HD-019, WeWork Vaishnavi Signature, No. 78/9 Outer Ring Road, Bellandur, Bangalore, Karnataka, 560103', None, None, None, None, None, 'contact@naarni.com', None, None, None, None, 'f')
2025-12-04 19:54:51 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 3 rows (total 3) into organizations
2025-12-04 19:54:51 - INFO - üéâ [4/5] STEP 4g: Finished inserting 3 rows into organizations
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:54:51 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.routes...
2025-12-04 19:54:51 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:51 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table routes exists
2025-12-04 19:54:51 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:51 - INFO - üîç [4/5] STEP 4e: First row preview: (2, datetime.datetime(2025, 11, 20, 6, 12, 57, 260545), datetime.datetime(2025, 11, 20, 6, 12, 57, 260545), 'Gurgaon to Dehradun', None, 93, 175, None, 0, 'TO_FRO')

üöÄ Processing table: routes
üìä Rows loaded for routes: 4

2025-12-04 19:54:53 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 4 rows (total 4) into routes
2025-12-04 19:54:53 - INFO - üéâ [4/5] STEP 4g: Finished inserting 4 rows into routes
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:54:53 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.user_accounts...
2025-12-04 19:54:53 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:53 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table user_accounts exists
2025-12-04 19:54:53 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:53 - INFO - üîç [4/5] STEP 4e: First row preview: (2, datetime.datetime(2025, 11, 18, 14, 2, 59, 305990), datetime.datetime(2025, 11, 24, 16, 51, 55, 686181), '04585794-0228-4d5a-8f10-204af38c98c3', 9936142128, 'mayank.dwivedi@naarni.in', 'f', 't', 3, 'ACTIVE', None)

üöÄ Processing table: user_accounts
üìä Rows loaded for user_accounts: 7

2025-12-04 19:54:56 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 7 rows (total 7) into user_accounts
2025-12-04 19:54:56 - INFO - üéâ [4/5] STEP 4g: Finished inserting 7 rows into user_accounts
2025-12-04 19:54:56 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.user_profiles...
2025-12-04 19:54:56 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:54:56 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table user_profiles exists
2025-12-04 19:54:56 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:54:56 - INFO - üîç [4/5] STEP 4e: First row preview: (2, datetime.datetime(2025, 11, 18, 14, 2, 59, 310461), datetime.datetime(2025, 11, 24, 16, 51, 55, 709316), 2, 'Mayank', 'Dwivedi', None, None)

üöÄ Processing table: user_profiles
üìä Rows loaded for user_profiles: 7

2025-12-04 19:54:59 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 7 rows (total 7) into user_profiles
2025-12-04 19:54:59 - INFO - üéâ [4/5] STEP 4g: Finished inserting 7 rows into user_profiles
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:54:59 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.vehicle_devices...
2025-12-04 19:54:59 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:55:00 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table vehicle_devices exists
2025-12-04 19:55:00 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:55:00 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 19, 8, 30, 51, 147670), datetime.datetime(2025, 11, 19, 8, 30, 51, 147670), 3, None, 'OBD_DEVICE', 'BYTEBEAM', 'GTU-10', None, 'ACTIVE', 'f', 't', None, None, None, None)

üöÄ Processing table: vehicle_devices
üìä Rows loaded for vehicle_devices: 25

2025-12-04 19:55:15 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 25 rows (total 25) into vehicle_devices
2025-12-04 19:55:15 - INFO - üéâ [4/5] STEP 4g: Finished inserting 25 rows into vehicle_devices
2025-12-04 19:55:15 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.vehicle_goals...
2025-12-04 19:55:15 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...

üöÄ Processing table: vehicle_goals
üìä Rows loaded for vehicle_goals: 44

2025-12-04 19:55:16 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table vehicle_goals exists
2025-12-04 19:55:16 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:55:16 - INFO - üîç [4/5] STEP 4e: First row preview: (1, datetime.datetime(2025, 11, 19, 8, 36, 34, 624608), datetime.datetime(2025, 11, 19, 8, 36, 34, 624608), 1, 1, 1, 500, 't', datetime.datetime(2025, 11, 19, 8, 36, 34, 623739), None, None, None)
2025-12-04 19:55:40 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 44 rows (total 44) into vehicle_goals
2025-12-04 19:55:40 - INFO - üéâ [4/5] STEP 4g: Finished inserting 44 rows into vehicle_goals
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
/tmp/ipykernel_2547/2163252617.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(series, errors="coerce", utc=True)
2025-12-04 19:55:40 - INFO - üíæ [4/5] STEP 4a: Preparing to write results to Iceberg table adhoc.facts_dev.vehicles...
2025-12-04 19:55:40 - INFO - üîç [4/5] STEP 4b: Creating table if not exists...
2025-12-04 19:55:40 - INFO - üõ†Ô∏è [4/5] STEP 4c: Ensured Iceberg table vehicles exists
2025-12-04 19:55:40 - INFO - üîç [4/5] STEP 4d: Prepared INSERT statement
2025-12-04 19:55:40 - INFO - üîç [4/5] STEP 4e: First row preview: (3, datetime.datetime(2025, 11, 20, 6, 17, 31, 344824), datetime.datetime(2025, 11, 20, 6, 17, 31, 344824), 'AP39WF8593', 'AZAD 12.5 M Luxury intercity AC Coach - seater cum sleeper', 'AZAD', 2025, None, 'NOT_MOVING', 't', 2)

üöÄ Processing table: vehicles
üìä Rows loaded for vehicles: 25

2025-12-04 19:55:54 - INFO - ‚úÖ [4/5] STEP 4f: Inserted 25 rows (total 25) into vehicles
2025-12-04 19:55:54 - INFO - üéâ [4/5] STEP 4g: Finished inserting 25 rows into vehicles

üéâ ALL TABLES IMPORTED SUCCESSFULLY INTO ICEBERG üéâ

In [8]:
for t in tables_data.keys():
    df_check = execute_query(conn, f"SELECT COUNT(*) AS rows FROM adhoc.facts_dev.{t}")
    print(t, df_check)

2025-12-04 19:55:54 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...

cities    rows
0   179

2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...

device_vehicle_mappings    rows
0    25
fleet_operator_mappings    rows
0     4
fleets    rows
0     2

2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:55 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:55 - INFO - ‚öôÔ∏è Executing query...

organizations    rows
0     3
routes    rows
0     4

2025-12-04 19:55:56 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:56 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:56 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:56 - INFO - ‚öôÔ∏è Executing query...

user_accounts    rows
0     7
user_profiles    rows
0     7

2025-12-04 19:55:56 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:56 - INFO - ‚öôÔ∏è Executing query...

vehicle_devices    rows
0    25

2025-12-04 19:55:56 - INFO - ‚úÖ Query executed successfully with results!
2025-12-04 19:55:56 - INFO - ‚öôÔ∏è Executing query...

vehicle_goals    rows
0    44

2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

vehicles    rows
0    25

In [9]:
for t in tables_data.keys():
    df_check = execute_query(conn, f"SELECT * FROM adhoc.facts_dev.{t} limit 5")
    display(t, df_check)

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'cities'

,id,created_at,last_modified_at,name,state,country,latitude,longitude,is_active,description
0,131,2025-11-18 08:40:01.583805,2025-11-18 08:40:01.583805,Goalpara,Assam,India,26.17,90.63,t,Agricultural Hub
1,126,2025-11-18 08:40:01.583805,2025-11-18 08:40:01.583805,Jorhat,Assam,India,26.75,94.20,t,Cultural Capital
2,146,2025-11-18 08:40:01.583805,2025-11-18 08:40:01.583805,Korba,Chhattisgarh,India,22.35,82.68,t,Power Hub
3,105,2025-11-18 08:40:01.583805,2025-11-18 08:40:01.583805,Siliguri,West Bengal,India,26.73,88.40,t,Gateway to Northeast
4,133,2025-11-18 08:40:01.583805,2025-11-18 08:40:01.583805,Bhopal,Madhya Pradesh,India,23.26,77.41,t,City of Lakes

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'device_vehicle_mappings'

,id,created_at,last_modified_at,device_id,vehicle_id,installation_date,uninstallation_date,installed_by,uninstalled_by,notes
0,5,2025-11-20 06:21:31.150018,2025-11-20 06:21:31.150018,5,5,2025-11-20 06:21:31.139814,None,ADMIN,None,None
1,17,2025-11-20 06:34:40.207016,2025-11-20 06:34:40.207016,17,17,2025-11-20 06:34:40.203548,None,ADMIN,None,None
2,1,2025-11-19 08:34:25.860705,2025-11-19 08:34:25.860705,1,1,2025-11-19 08:34:25.852941,None,ADMIN,None,None
3,11,2025-11-20 06:28:46.006425,2025-11-20 06:28:46.006425,11,11,2025-11-20 06:28:46.001513,None,ADMIN,None,None
4,19,2025-11-20 06:36:37.045319,2025-11-20 06:36:37.045319,19,19,2025-11-20 06:36:37.038461,None,ADMIN,None,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'fleet_operator_mappings'

,id,created_at,last_modified_at,fleet_id,operator_organization_id,operation_start_date,operation_end_date,notes,ended_at,ended_by,end_reason
0,9,2025-11-24 14:23:26.474426,2025-11-24 14:23:26.474426,2,3,2025-07-01,None,None,None,None,None
1,10,2025-12-01 12:09:34.758167,2025-12-01 12:09:34.758167,1,2,NaT,None,None,None,None,None
2,4,2025-11-20 08:00:28.783537,2025-11-20 08:00:28.783537,1,2,2025-07-01,None,None,None,None,None
3,11,2025-12-01 12:09:40.173548,2025-12-01 12:09:40.173548,2,3,NaT,None,None,None,None,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'fleets'

,id,created_at,last_modified_at,name,description,organization_id,financier_organization_id
0,1,2025-11-19 08:32:56.466480,2025-11-19 08:32:56.466480,zingbus,,1,1
1,2,2025-11-20 06:14:30.948317,2025-11-20 06:14:30.948317,Freshbus,Freshbus,1,1

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'organizations'

,id,created_at,last_modified_at,name,description,organization_type,is_active,address,city,state,country,postal_code,phone,email,website,gst_number,pan_number,parent_organization_id,is_operator
0,2,2025-11-20 07:59:52.482461,2025-11-20 07:59:52.482461,zingbus,None,FLEET_OWNER,t,Gurugram,None,None,None,None,None,None,None,None,None,None,t
1,1,2025-11-18 14:54:20.139096,2025-11-18 14:54:20.139096,Naarni,None,INTERNAL,t,"HD-019, WeWork Vaishnavi Signature, No. 78/9 O...",None,None,None,None,None,contact@naarni.com,None,None,None,None,f
2,3,2025-11-24 14:22:52.447303,2025-11-24 14:22:52.447303,Freshbus,None,FLEET_OWNER,t,None,None,None,None,None,None,None,None,None,None,None,f

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'routes'

,id,created_at,last_modified_at,name,description,start_city_id,end_city_id,distance,estimated_duration,route_type
0,4,2025-11-20 06:13:59.596541,2025-11-20 06:13:59.596541,Guntur to Vishakapatnam,None,46,44,None,0,TO_FRO
1,1,2025-11-19 08:36:11.963471,2025-11-26 04:21:26.657953,Delhi to Dehradun,None,13,23,None,0,TO_FRO
2,3,2025-11-20 06:13:33.010365,2025-11-20 06:13:33.010365,Guntur to Hyderabad,None,46,43,None,0,TO_FRO
3,2,2025-11-20 06:12:57.260545,2025-11-20 06:12:57.260545,Gurgaon to Dehradun,None,93,175,None,0,TO_FRO

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'user_accounts'

,id,created_at,last_modified_at,uuid,phone,email,is_email_verified,is_phone_verified,organization_id,user_status,last_login_at
0,6,2025-11-26 05:31:46.625756,2025-11-26 05:34:11.764049,5bacf319-1058-453b-bffa-9283b611866a,8871963339,None,f,t,2,ACTIVE,None
1,5,2025-11-24 16:54:42.727246,2025-11-24 16:54:42.873520,7d106242-97dc-417e-9246-1ef824dfc24f,9711197154,None,f,f,3,ACTIVE,None
2,7,2025-12-02 09:26:13.796675,2025-12-02 09:26:13.904720,7b07caa6-d0bd-4317-af1b-618309c4399a,8108993422,None,f,f,3,ACTIVE,None
3,4,2025-11-24 16:53:47.576626,2025-12-01 12:02:00.637218,b57a45ad-911f-4bc3-b352-5e8eb9d32d34,9884471275,None,f,f,3,ACTIVE,None
4,1,2025-11-18 13:49:43.993366,2025-11-26 11:26:25.660052,eee5479b-381c-4f4b-abf8-e815f14de8d7,8884382198,swarchitect@naarni.com,f,t,3,ACTIVE,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'user_profiles'

,id,created_at,last_modified_at,user_account_id,first_name,last_name,middle_name,profile_picture_url
0,6,2025-11-26 05:31:46.630190,2025-11-26 05:34:11.769592,6,Mayank,Dwivedi,None,None
1,4,2025-11-24 16:53:47.584064,2025-12-01 12:02:00.642358,4,Anand,Ayyadurai,None,None
2,3,2025-11-19 09:34:50.004342,2025-12-02 09:34:12.334138,3,Anmol,D,None,None
3,1,2025-11-18 13:49:44.002520,2025-11-26 11:26:25.667789,1,Gaurav,Dingolia,None,None
4,7,2025-12-02 09:26:13.801459,2025-12-02 09:26:13.909198,7,nelson,lobo,None,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'vehicle_devices'

,id,created_at,last_modified_at,device_id,device_name,device_type,manufacturer,model,serial_number,status,is_primary,is_active,installed_at,installed_by,uninstalled_at,notes
0,20,2025-11-20 06:37:19.134706,2025-11-20 06:37:19.134706,28,None,OBD_DEVICE,BYTEBEAM,GTU-10,None,ACTIVE,f,t,None,None,None,None
1,9,2025-11-20 06:26:16.111503,2025-11-20 06:26:16.111503,27,None,OBD_DEVICE,BYTEBEAM,GTU-10,None,ACTIVE,f,t,None,None,None,None
2,15,2025-11-20 06:32:26.196550,2025-11-20 06:32:26.196550,30,None,OBD_DEVICE,BYTEBEAM,GTU-10,None,ACTIVE,f,t,None,None,None,None
3,11,2025-11-20 06:28:30.580511,2025-11-20 06:28:30.580511,29,None,OBD_DEVICE,BYTEBEAM,GTU-10,None,ACTIVE,f,t,None,None,None,None
4,25,2025-11-20 06:58:09.931831,2025-11-20 06:58:09.931831,42,None,OBD_DEVICE,BYTEBEAM,GTU-10,None,ACTIVE,f,t,None,None,None,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'vehicle_goals'

,id,created_at,last_modified_at,vehicle_id,route_id,day,target_km_run,is_active,effective_from,effective_until,notes,created_by
0,13,2025-11-26 04:15:05.664708,2025-11-26 04:15:05.664708,3,4,5,800,t,2025-11-26 04:15:05.664564,None,None,None
1,9,2025-11-26 04:14:29.664971,2025-11-26 04:14:29.664971,3,4,2,800,t,2025-11-26 04:14:29.664829,None,None,None
2,14,2025-11-26 04:15:13.331407,2025-11-26 04:15:13.331407,3,4,6,800,t,2025-11-26 04:15:13.331233,None,None,None
3,36,2025-11-26 04:18:54.194055,2025-11-26 04:18:54.194055,7,3,7,700,t,2025-11-26 04:18:54.193889,None,None,None
4,44,2025-11-26 04:20:02.244604,2025-11-26 04:20:02.244604,8,3,7,700,t,2025-11-26 04:20:02.244452,None,None,None

2025-12-04 19:55:57 - INFO - ‚öôÔ∏è Executing query...
2025-12-04 19:55:57 - INFO - ‚úÖ Query executed successfully with results!

'vehicles'

,id,created_at,last_modified_at,registration_number,model,make,year,capacity,status,is_active,fleet_id
0,10,2025-11-20 06:27:14.804087,2025-11-20 06:27:14.804087,TN14AR3907,AZAD 12.5 M Luxury intercity AC Coach - seater...,AZAD,2025,None,NOT_MOVING,t,2
1,7,2025-11-20 06:23:05.082257,2025-11-20 06:23:59.068766,AP39WG4628,A_12_M,AZAD,2025,None,NOT_MOVING,t,2
2,6,2025-11-20 06:22:05.430863,2025-11-20 06:22:05.430863,AP39WG0271,AZAD 12.5 M Luxury intercity AC Coach - seater...,AZAD,2025,None,NOT_MOVING,t,2
3,25,2025-11-20 06:55:44.330442,2025-11-20 06:55:44.330442,DL1PD8509,AZAD 12.5 M Luxury intercity AC Coach - seater...,AZAD,2025,None,NOT_MOVING,t,1
4,14,2025-11-20 06:31:10.998892,2025-11-20 06:31:10.998892,TN14AR7552,AZAD 12.5 M Luxury intercity AC Coach - seater...,AZAD,2025,None,NOT_MOVING,t,2

In [10]:
wait

NameError: name 'wait' is not defined

In [ ]:
conn = connect_to_trino()

tables = [
    "cities", "device_vehicle_mappings", "fleet_operator_mappings",
    "fleets", "organizations", "routes", "user_accounts",
    "user_profiles", "vehicle_devices", "vehicles", "vehicle_goals"
]

for t in tables:
    print(f"Replicating {t} ‚Üí facts_prod...")
    sql = f"""
        CREATE TABLE IF NOT EXISTS adhoc.facts_prod.{t} AS
        SELECT * FROM adhoc.facts_dev.{t}
    """
    execute_query(conn, sql, return_results=False)

print("üéâ All tables replicated successfully!")
conn.close()

In [ ]:
conn = connect_to_trino()

tables_to_drop = [
    "cities",
    "device_vehicle_mappings",
    "fleet_operator_mappings",
    "fleets",
    "organizations",
    "routes",
    "user_accounts",
    "user_profiles",
    "vehicle_devices",
    "vehicles",
    "vehicle_goals",
]

for t in tables_to_drop:
    sql = f"DROP TABLE IF EXISTS adhoc.facts_dev.{t}"
    print(f"Dropping ONLY: {t}")
    execute_query(conn, sql, return_results=False)

print("‚úÖ Safe cleanup complete. Only the intended tables were removed.")
conn.close()